<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to our website. We provide top-notch services in various domains. Learn more about us.">
    <meta name="keywords" content="services, about us, portfolio, contact, responsive web design">
    <title>Responsive SEO-Friendly Website</title>
    <link rel="stylesheet" href="./css/style.css"/>
    <script>
       
        // const view = {name: "abcdxyz"};
        // const templ = `${{name}} is saying something..`
        // Mustech.render(templ,view);
    </script>
</head>
<body>

<main>
    <header id="headerComponent">
        <div id="dataGot"></div>
        <div class="header-top pageSize">
            <a href="#" class="logo">
                <img src="img/logo.png" alt="Website Logo">
            </a>
            <div class="contactNum second">
                <a href="" class="connectMobile">connectMobile</a>
                <a href="mailTo:">email</a>
            </div>
            <div class="hamburger" id="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="social-icons">
                <a href="#" aria-label="Facebook"><img src="img/fb.webp" alt="Facebook"></a>
                <a href="#" aria-label="Twitter"><img src="img/tw.webp" alt="Twitter"></a>
                <a href="#" aria-label="Instagram"><img src="img/instagram.jpg" alt="Instagram"></a>
            </div>
            
        </div>
    </header>

    <nav class="menu" id="menu">
        <div class="pageSize">
            <div>
                <ul class="menu-inner">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li class="menu-item">
                        <a href="#">Courses</a>
                        <ul class="submenu">
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Mobile App Development</a></li>
                            <li><a href="#">SEO</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="contactNum">
                <a href="" class="connectMobile">+91-9650536016</a>
                <a href="mailTo:" class="connectMobile">example@example.com</a>
            </div>
        </div>
    </nav>